
@use '@angular/material' as mat;

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat.core();


$myFlix-Angular-client-primary: mat.define-palette(mat.$pink-palette);
$myFlix-Angular-client-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$myFlix-Angular-client-warn: mat.define-palette(mat.$red-palette);


$myFlix-Angular-client-theme: mat.define-dark-theme((
  color: (
    primary: $myFlix-Angular-client-primary,
    accent: $myFlix-Angular-client-accent,
    warn: $myFlix-Angular-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($myFlix-Angular-client-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background-color: black;
}

mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays on top of other content */
}